img#loading {
  position: absolute;
  top: 48%;
  left: 48%;
}



.pane.editors {
  height: 100%;
  padding-left: 0;
  padding-right: 1px;
}
.btn.newEditorTab {
  float: left;
  padding-top: 2px;
}
.btn.newEditorTab .glyphicon {
  top: 5px;
}

.pane.context {
  height: 100%;
  padding-right: 0;
  padding-left: 1px;
}

.pane .panel {
  height: 100%;
}

.pane.editors .panel-body {
  padding: 0;

}


.pane.edit {
  height: 700px;
  max-height: 475px;
  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.pane.edit.expanded {
  max-height: 700px;
}
.pane.debug {
  /*background: blue;*/
  height: 320px;
  max-height: 320px;

  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.pane.debug.obscured {
  max-height: 32px;
}

.pane.inspector {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 160px;
  white-space: nowrap;

  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.pane.inspector button.close {
  float: none; 
}
.pane.inspector .panel-heading {
  padding: 3px 6px;
}


.pane.inspector.obscured {
  width: 0;
  overflow: hidden;
}
.pane.inspector .inspectorContainer {
  height: 100%;
}


.pane.debug .panel-heading {
  padding: 0;
}
.pane.debug .panel-heading .nav > li > a {
  color: #898E9B;
}
.pane.debug .panel-heading .nav > li.active > a {
  color: #428bca;
}
.pane.debug .panel-heading .nav-pills > li.active > a {
  background-color: transparent;
}

.panel-heading .nav > li > a {
  padding: 5px;
}
.pane.context .panel-heading .nav > li > a {
  color: #aaa;
}
.pane.context .panel-heading .nav > li.active > a {
  color: #428bca;
}
.pane.context .panel-heading .nav-pills > li.active > a {
  background-color: transparent;
}



.pane.editors .nav li a button.close {
  float: none;
  font-size: 15px;
}
.pane.editors .button-bar {
  padding: 5px 20px;
  text-align: right;
}


.aceEditor {
  font-family: monospace;
  max-height: 355px; 
  height: 580px; 

  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.pane.expanded .aceEditor {
  max-height: 580px; 
}

.compileMessages {
  min-height: 70px;
}
.compileMessages .alert {
  margin: 10px 10px 0 10px;
}

.pane.fileEditor {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.pane.compiledBytes {
  font-family: monospace;
  font-size: 0.8em;
  padding-left: 0;
  overflow: hidden;

  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.col-md-0 {
  width: 0%;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
  line-height: 16px;
}


td.actions {
  text-align: right;
}

.monitor .monitor-row {
  font-family: monospace;
  white-space: nowrap;
}
.monitor .monitor-row .hexdump {
  margin: 0 1em;
}
.monitor .monitor-row.active {
  background: #eee;
}



.playerColumn {
  padding-left: 8px;
  padding-right: 8px;
  overflow: auto;
  height: 265px;
  width: 12%;
}
.visualizerColumn {
  width: 88%;
  padding-left: 0;
}

.playerList {
  width: 90px;
  margin: auto;
  font-size: 8px;
}
ul.playerList li {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}
ul.playerList li:nth-child(even) {
  padding-left: 8px;
  clear: both;
}
.playerList .threads {
  float: left;
  width: 15px;
  margin-right: 3px;
  padding: 1px;
  text-align: center;
  color: white;
}
.playerList .scriptName {
  width: 20px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

.visualizer {
  width: 1026px;
}
.visualizer .cell {
  width: 8px;
  height: 8px;
  float: left;
}

.visualizer .cell.mov { background-image: url('opcodes/mov.png'); }
.visualizer .cell.add { background-image: url('opcodes/add.png'); }
.visualizer .cell.sub { background-image: url('opcodes/sub.png'); }
.visualizer .cell.mul { background-image: url('opcodes/mul.png'); }
.visualizer .cell.div { background-image: url('opcodes/div.png'); }
.visualizer .cell.mod { background-image: url('opcodes/mod.png'); }
.visualizer .cell.sne { background-image: url('opcodes/sne.png'); }
.visualizer .cell.seq { background-image: url('opcodes/seq.png'); }
.visualizer .cell.slt { background-image: url('opcodes/slt.png'); }
.visualizer .cell.sge { background-image: url('opcodes/sge.png'); }
.visualizer .cell.jz  { background-image: url('opcodes/jz.png'); }
.visualizer .cell.jnz { background-image: url('opcodes/jnz.png'); }
.visualizer .cell.fork{ background-image: url('opcodes/fork.png'); }
.visualizer .cell.jmp { background-image: url('opcodes/jmp.png'); }
 
.visualizer .pc {
  width: 11px;
  height: 11px;
  border: 2px solid orange;
  position:absolute;
}
.pc.player0 {
  border-color: #0000ff;
}
.pc.player1 {
  border-color: #ff0000;
}
.pc.player2 {
  border-color: #00ff00;
}
.pc.player3 {
  border-color: #000090;
}
.pc.player4 {
  border-color: #800000;
}
.pc.player5 {
  border-color: #009000;
}
.pc.player6 {
  border-color: #606060;
}
.pc.player7 {
  border-color: #a0a0a0;
}


.cell.player0 {
  background-color: #6060ff;
}
.cell.player1 {
  background-color: #ff6060;
}
.cell.player2 {
  background-color: #60ff60;
}
.cell.player3 {
  background-color: #606090;
}
.cell.player4 {
  background-color: #906060;
}
.cell.player5 {
  background-color: #609060;
}
.cell.player6 {
  background-color: #606060;
}
.cell.player7 {
  background-color: #909090;
}


.login .avatar {
  width: auto;
  height: 32px;
}