img#loading {
  position: absolute;
  top: 48%;
  left: 48%;
}



.pane.editors {
  height: 100%;
  padding-left: 0;
  padding-right: 1px;
}
.btn.newEditorTab {
  float: left;
  padding-top: 2px;
}
.btn.newEditorTab .glyphicon {
  top: 5px;
}

.pane.context {
  height: 100%;
  padding-right: 0;
  padding-left: 1px;
}

.pane .panel {
  height: 100%;
}

.pane.editors .panel-body {
  padding: 0;

}

.pane.edit {
  height: 700px;
  max-height: 475px;
  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.pane.edit.expanded {
  max-height: 700px;
}
.pane.debug {
  /*background: blue;*/
  height: 320px;
  max-height: 320px;

  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.pane.debug.obscured {
  max-height: 0;
}

.pane.inspector {
  background: yellow;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 160px;

  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.pane.inspector.obscured {
  width: 0;
  overflow: hidden;
}


.pane.debug .panel-heading {
  padding: 0;
}

.panel-heading .nav > li > a {
  padding: 5px;
}
.pane.context .panel-heading .nav > li > a {
  color: #aaa;
}
.pane.context .panel-heading .nav > li.active > a {
  color: #428bca;
}
.pane.context .panel-heading .nav-pills > li.active > a {
  background-color: transparent;
}


.saveScript:hover {
  color: blue;
}

input.scriptName {
  width: 20em;
}

.aceEditor {
  font-family: monospace;
  max-height: 355px; 
  height: 580px; 

  -webkit-transition: max-height 0.6s ease;
  -moz-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.pane.expanded .aceEditor {
  max-height: 580px; 
}

.compileMessages {
  min-height: 70px;
}
.compileMessages .alert {
  margin: 10px 10px 0 10px;
}

.pane.fileEditor {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.pane.compiledBytes {
  font-family: monospace;
  font-size: 0.8em;
  padding-left: 0;
  overflow: hidden;

  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.col-md-0 {
  width: 0%;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
  line-height: 16px;
}

/*

textarea:focus, input:focus {
  outline: 0;
}


.monospace {
  font-family: monospace;
}

.editor {
  height: 380px;
  overflow: hidden;
  font-family: monospace;
  border: 1px solid black;
}



h1 img.avatar {
  width: 30px;
  position: relative;
  top: -4px;
  margin-right: 2px;
}


.help.well {
  height: 380px;
  overflow-y: scroll;
}
.help.well h2 {
  margin-top: 0;
}
.help.well .syntax {
  margin: 1.3em 1em;
  font-family: monospace;
}
.help.well .description {
  margin-bottom: 1.3em;
}
.help.well .incorrect {
  color: red;
}


.output pre {
  font-size: 0.7em;
}
.output .monitor .monitorRow span {
  font-family: monospace;
  font-size: 0.8em;
}
.output .monitor .monitorRow .hexdump {
  margin: 0 0.5em;
}
.output .monitor .monitorRow.active {
  background: #eee;
}

.output .monitor {
  border: 1px solid black;
  padding: 2px;
}

*/


.visualizer {
  border: 1px solid black;
  width: 1026px;
}
.visualizer .cell {
  width: 8px;
  height: 8px;
  float: left;
}

.visualizer .cell.add { background-image: url('opcodes/add.png'); }
.visualizer .cell.div { background-image: url('opcodes/div.png'); }
.visualizer .cell.jmp { background-image: url('opcodes/jmp.png'); }
.visualizer .cell.mov { background-image: url('opcodes/ld.png'); }
.visualizer .cell.mod { background-image: url('opcodes/mod.png'); }
.visualizer .cell.mul { background-image: url('opcodes/mul.png'); }
.visualizer .cell.sub { background-image: url('opcodes/sub.png'); }
.visualizer .cell.sne { background-image: url('opcodes/sne.png'); }
.visualizer .cell.seq { background-image: url('opcodes/seq.png'); }
.visualizer .cell.slt { background-image: url('opcodes/slt.png'); }
 
.visualizer .pc {
  width: 11px;
  height: 11px;
  border: 2px solid orange;
  position:absolute;
}
.visualizer .pc.player0 {
  border-color: #ff0000;
}.visualizer .pc.player1 {
  border-color: #0000ff;
}