

<div id="console" class="container codewars">

  <!-- heading row -->
  <div class="row">
    <div class="col-md-8 message">
      <h1>Hello Console</h1>
    </div>
    <div class="col-md-4 login">
      <a href="#">login</a>

      <div class="row">
        <a class="btn btn-default debug" href="#">debug</a>
        <a class="btn btn-default edit" href="#">edit</a>
        <a class="btn btn-default inspector" href="#">inspector</a>
      </div>
    </div>
  </div>

  <!-- editor row -->
  <div class="row pane edit expanded">
    <div class="col-md-7 pane editors">
    </div>
    <div class="cold-md-5 pane context">
    </div>
  </div>



  <!-- visualizer/debugger row -->
  <div class="row pane debug obscured">
  </div>

  <!-- inspector popover -->
  <div class="pane inspector obscured">
  </div>


</div>


