textarea:focus, input:focus {
  outline: 0;
}

.col-md-0 {
  width: 0%;
  overflow: hidden;
}

.monospace {
  font-family: monospace;
}

.editor {
  height: 380px;
  overflow: hidden;
  font-family: monospace;
  border: 1px solid black;
}

.output.compiled {
}




.help.well {
  height: 380px;
  overflow-y: scroll;
}
.help.well h2 {
  margin-top: 0;
}
.help.well .syntax {
  margin: 1.3em 1em;
  font-family: monospace;
}
.help.well .description {
  margin-bottom: 1.3em;
}
.help.well .errors {
  color: red;
}