textarea:focus, input:focus {
  outline: 0;
}

.col-md-0 {
  width: 0%;
  overflow: hidden;
}

.monospace {
  font-family: monospace;
}

.editor {
  height: 380px;
  overflow: hidden;
  font-family: monospace;
  border: 1px solid black;
}



.help.well {
  height: 380px;
  overflow-y: scroll;
}
.help.well h2 {
  margin-top: 0;
}
.help.well .syntax {
  margin: 1.3em 1em;
  font-family: monospace;
}
.help.well .description {
  margin-bottom: 1.3em;
}
.help.well .errors {
  color: red;
}


.output pre {
  font-size: 0.7em;
}
.output .monitor .monitorRow span {
  font-family: monospace;
  font-size: 0.8em;
}
.output .monitor .monitorRow .hexdump {
  margin: 0 0.5em;
}
.output .monitor .monitorRow.active {
  background: #eee;
}

.output .monitor {
  border: 1px solid black;
  padding: 2px;
}



.visualizer .cell {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-left-width: 0;
  border-top-width: 0;
  float: left;
}
.visualizer .row:first-child .cell {
  border-top-width: 1px;
}
.visualizer .row .cell:first-child {
  border-left-width: 1px;
}
 
.visualizer .pc {
  width: 8px;
  height: 8px;
  border: 1px solid green;
  position:absolute;
}