textarea:focus, input:focus {
  outline: 0;
}


.editor {
  min-height: 250px;
  font-family: monospace;
  border: 1px solid black;
}

.output.compiled {
  min-height: 250px;
}

.help.well {
  min-height: 250px;
}


.col-md-0 {
  width: 0%;
  overflow: hidden;
}