

<div id="console" class="container codewars">

  <!-- heading row -->
  <div class="row">
    <div class="col-md-8 message">
      <h1>Hello Console</h1>
    </div>
    <div class="col-md-4 login">
      <a href="#">login</a>
    </div>
  </div>

  <!-- editor row -->
  <div class="row pane edit expanded">
    <div class="col-md-7 pane editors">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-link newEditorTab"><span class="glyphicon glyphicon-plus-sign"></span></button>
          <ul class="nav nav-pills">
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
          </div>
        </div>
        <div class="panel-footer">
          <div class="compilerMessages">
          </div>
          &nbsp;
        </div>
      </div>
    </div>

    <div class="col-md-5 pane context">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="nav nav-pills">
            <li class=""><a href="#contextReference" data-toggle="tab"><span class="glyphicon glyphicon-book"></span></a></li>
            <li class="active"><a href="#contextHelp" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            <li class=""><a href="#contextRankings" data-toggle="tab"><span class="glyphicon glyphicon-list"></span></a></li>
            <li class=""><a href="#contextUsers" data-toggle="tab"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class=""><a href="#contextStorage" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane " id="contextReference"> 
              <div class="referenceContainer"></div>
            </div>
            <div class="tab-pane active" id="contextHelp"> 
              <div class="helpContainer"></div>
            </div>
            <div class="tab-pane" id="contextRankings"> rankings </div>
            <div class="tab-pane" id="contextUsers"> users </div>
            <div class="tab-pane" id="contextStorage"> 
              <div class="storageContainer"> storage </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- visualizer/debugger row -->
  <div class="row pane debug obscured">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="nav nav-pills">
          <li><a href="#" class="toggleDebug"><span class="glyphicon glyphicon-resize-vertical"></span></a></li>
          <li><a href="#" class="resetMars"><span class="glyphicon glyphicon-refresh" title="Reset"></span></a></li>
          <li><a href="#" class="clearMars"><span class="glyphicon glyphicon-ban-circle" title="Clear"></span></a></li>
          <li><a href="#" class="toggleFlash"><span class="glyphicon glyphicon-flash" title="Flash"></span></a></li>
          <li><a href="#" class="runMars"><span class="glyphicon glyphicon-play" title="Run"></span></a></li>
          <li><a href="#" class="stepMars"><span class="glyphicon glyphicon-fast-forward" title="Step Once"></span></a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="visualizerContainer"> </div>
      </div>
    </div>

  </div>

  <!-- inspector popover -->
  <div class="pane inspector obscured">
    <div class="inspectorContainer"></div>
  </div>


</div>


