

<div id="console" class="container codewars">

  <!-- heading row -->
  <div class="row">
    <div class="col-md-8 message">
      <h1>Hello Console</h1>
    </div>
    <div class="col-md-4 login">
      <a href="#">login</a>

      <div class="row">
        <a class="btn btn-default debug" href="#">debug</a>
        <a class="btn btn-default edit" href="#">edit</a>
        <a class="btn btn-default inspector" href="#">inspector</a>
      </div>
    </div>
  </div>

  <!-- editor row -->
  <div class="row pane edit expanded">
    <div class="col-md-7 pane editors">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-link newEditorTab"><span class="glyphicon glyphicon-plus-sign"></span></button>
          <ul class="nav nav-pills">
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
          </div>
        </div>
        <div class="panel-footer">
          <div class="compilerMessages">
            &nbsp;
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 pane context">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ul class="nav nav-pills">
            <li class="active"><a href="#contextHelp" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            <li class=""><a href="#contextRankings" data-toggle="tab"><span class="glyphicon glyphicon-list"></span></a></li>
            <li class=""><a href="#contextUsers" data-toggle="tab"><span class="glyphicon glyphicon-user"></span></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="contextHelp"> 
              <div class="helpContainer"></div>
            </div>
            <div class="tab-pane" id="contextRankings"> rankings </div>
            <div class="tab-pane" id="contextUsers"> users </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- visualizer/debugger row -->
  <div class="row pane debug obscured">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="nav nav-pills">
          <li><a href="#"><span class="glyphicon glyphicon-ban-circle clearMars" title="Clear"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-flash toggleFlash" title="Flash"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-play runMars" title="Run"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-fast-forward stepMars" title="Step Once"></span></a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <div class="memoryVisualizer"> </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- inspector popover -->
  <div class="pane inspector obscured">
    <div class="inspectorContainer"></div>
  </div>


</div>


