
<div class="row">

  <div class="col-md-8">
    <input class="form-control input-sm scriptName" type="text" placeholder="script name...">
  </div>
  <div class="col-md-4 button-bar ">

      <button type="button" class="btn btn-xs btn-default save" disabled="disabled"> 
        <span class="glyphicon glyphicon-floppy-remove"></span> <span class="btn-label">unsaved</span>
      </button>

      <button type="button" class="btn btn-xs btn-default compile"> 
        <span class="glyphicon glyphicon-import"></span> Compile 
      </button>

      <button type="button" class="btn btn-xs btn-default deploy"> 
        <span class="glyphicon glyphicon-hdd"></span>  
      </button>

  </div>

</div>



<div class="row">

  <div class="col-md-12 pane fileEditor">
    <div class="aceEditor">
    // dwarf
    dwarf:  *loc = bomb
            loc += 4        // bomb every 4 locations
            jmp dwarf
    bomb:   jmp (-3)        // this is the bomb to drop
    loc:    .DAT -1         // start bombing immediately before ourself
    </div>
  </div>

  <div class="col-md-0 pane compiledBytes">
    <div class="contents" style="display: none">
      <div class="close">&times;</div>
      <div class="compiledOutput"> </div>
    </div>
  </div>

</div>
