
<div class="row">

  <div class="col-md-12">
    <button type="button" class="btn btn-xs save btn-success"> 
      <span class="glyphicon glyphicon-floppy-saved"></span> Saved
    </button>
    <input class="scriptName" type="text" placeholder="script name...">
  </div>

</div>



<div class="row">

  <div class="col-md-12 pane fileEditor">
    <div class="aceEditor">
    // dwarf
    dwarf:  *loc = bomb
            loc += 4        // bomb every 4 locations
            jmp dwarf
    bomb:   jmp (-3)        // this is the bomb to drop
    loc:    .DAT -1         // start bombing immediately before ourself
    </div>
  </div>

  <div class="col-md-0 pane compiledBytes">
    <div class="contents" style="display: none">
      <div class="close">&times;</div>
      <div class="compiledOutput"> </div>
    </div>
  </div>

</div>
