
<div class="row">

  <div class="col-md-12">
    <button type="button" class="btn btn-default save">Save</button>
    <input class="scriptName" type="text" placeholder="script name...">
  </div>

</div>

<div class="row">

  <div class="col-md-12 pane fileEditor">
    <div class="aceEditor">
    // dwarf
    dwarf:  *loc = bomb
            loc += 4        // bomb every 4 locations
            jmp dwarf
    bomb:   jmp (-3)        // this is the bomb to drop
    loc:    .DAT -1         // start bombing immediately before ourself
    </div>
  </div>

  <div class="col-md-0 pane compiledBytes">
    <div class="close">X</div>
    <div class="compiledOutput">
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 compileMessages"></div>
</div>