<div class="referenceTopics">

<section id="index">
  <h2>Code Wars</h2>

  <ul class="list-unstyled">
    <li><a href="#ref/welcome">Getting Started</a></li>
    <li><a href="#ref/mars">MARS</a></li>
    <li><a href="#ref/redscript">RedScript</a></li>
    <li><a href="#ref/addressing">Addressing Modes</a></li>
    <li><a href="#ref/conditionals">Conditionals</a></li>
    <li><a href="#ref/loops">Loops</a></li>
    <li><a href="#ref/forking">Forking</a></li>
  </ul>
  <h4>Archetypes</h4>
  <ul class="list-unstyled">
    <li><a href="#ref/rock">Rock</a></li>
    <li><a href="#ref/paper">Paper</a></li>
    <li><a href="#ref/scissors">Scissors</a></li>
  </ul>
  <h4>Related</h4>
  <ul class="list-unstyled">
    <li><a href="#ref/corewar">Core War</a></li>
    <li><a href="#ref/redcode">Red Code</a></li>
    <li><a href="#ref/reading">Other Reading</a></li>
  </ul>
</section>

<section id="welcome">
  <h2>Welcome to Code Wars!</h2>
</section>

<section id="mars">
  <h2>M.A.R.S.</h2>
  <h3>Memory Array RedScript Simulator</h3>
</section>

<section id="redscript">
  <h2>Red Script</h2>
</section>

<section id="addressing">
  <h2>Addressing Modes</h2>
</section>

<section id="conditionals">
  <h2>Conditionals</h2>
</section>

<section id="loops">
  <h2>Loops</h2>
</section>

<section id="forking">
  <h2>Forking and Threads</h2>
</section>

<section id="rock">
  <h2>Rock</h2>
</section>

<section id="paper">
  <h2>Paper</h2>
</section>

<section id="scissors">
  <h2>Scissors</h2>
</section>

<section id="redcode">
  <h2>Red Code</h2>
</section>

<section id="corewar">
  <h2>Core War</h2>
</section>

<section id="reading">
  <h2>Other Reading</h2>
</section>

</div>
