<div class="referenceTopics">

<section id="index">
  <h2>Code Wars</h2>

  <ul class="toc">
    <li><a href="ref/welcome">Getting Started</a></li>
    <li><a href="ref/mars">MARS</a></li>
    <li><a href="ref/redscript">RedScript</a></li>
  </ul>
</section>

<section id="welcome">
</section>

<section id="mars">
</section>

<section id="redscript">
</section>

<section id="addressing">
</section>

<section id="conditionals">
</section>

<section id="loops">
</section>

<section id="forking">
</section>

<section id="rock">
</section>

<section id="paper">
</section>

<section id="scissors">
</section>

<section id="redcode">
</section>

<section id="corewar">
</section>
</div>
