<div class="referenceTopics">

<section id="index">
  <h2>Code Wars</h2>

  <ul class="list-unstyled">
    <li><a href="#ref/welcome">Getting Started</a></li>
    <li><a href="#ref/mars">MARS</a></li>
    <li><a href="#ref/redscript">RedScript</a></li>
    <li><a href="#ref/addressing">Addressing Modes</a></li>
    <li><a href="#help/slt-sge">Conditionals</a></li>
    <li><a href="#help/fork">Forking</a></li>
  </ul>
  <!--
  <h4>Using Code Wars</h4>
  <ul class="list-unstyled">
    <li><a href="#ref/debugger">Code Wars Debugger</a></li>
    <li><a href="#ref/storage">Script Storage</a></li>
    <li><a href="#ref/rankings">Hill Rankings</a></li>
    <li><a href="#ref/submit">Battle Submission</a></li>
  </ul>
-->
  <h4>Archetypes</h4>
  <ul class="list-unstyled">
    <li><a href="#ref/metagame">Metagame</a></li>
    <li><a href="#ref/rock">Rock</a></li>
    <li><a href="#ref/paper">Paper</a></li>
    <li><a href="#ref/scissors">Scissors</a></li>
  </ul>
  <h4>Related</h4>
  <ul class="list-unstyled">
    <li><a href="#ref/corewar">Core War</a></li>
    <!--
    <li><a href="#ref/redcode">Red Code</a></li>
  -->
  </ul>
</section>

<section id="welcome">
  <h2>Welcome to Code Wars!</h2>

  <h3>What is Code Wars?</h3>
  <p>Code Wars is a programming game where scripts (or Warriors) try to destroy each other in the memory of a virtual computer. The scripts are written in a custom language called <a href="#ref/redscript">Red Script</a>, and run by the vm called <a href="#ref/mars">MARS</a> (Memory Array Redscript Simulator). 
  </p>

  <h3>How to Play</h3>
  <p>Using the references provided program your own Warrior in the Code Wars Editor.  Some familiarity with programming and assembly languages is assumed.  You can load your compiled Script into the <a href="#ref/debugger">Code Wars Debugger</a> to test it it out.  Battle your script against the provided  <a href="#ref/metagame">Rock, Paper and Scissors examples</a> until you are confident it can hold its' own against the field.  Then <a href="#ref/submit">submit</a> it to the server to see how it fares against other users' scripts.</p>

  <h3>About Code Wars</h3>
  <p>Code Wars is a modern version of an older game: <a href="#ref/corewar">Core War</a>.  Red script has been designed to be more approachable for a modern audience vs the 80's style assembler syntax of <a href="#ref/redcode">Red Code</a>. 
</section>

<section id="mars">
  <h2>M.A.R.S.</h2>
  <h3>Memory Array RedScript Simulator</h3>

  <p>The MARS vm is quite simple.  It is completely memory based (this means there are no registers).  It's memory is an array of 4,096 locations.  Each instruction is exactly one location.  Each instruction takes exactly one cycle.</p>

  <h4>Scripts</h4>
  <p>Scripts are written in <a href="#ref/redscript">Red Script</a> and are compiled into <a href="#ref/redcode">Red Code</a>.</p>

  <h4>Memory Addressing</h4>
  <p>All <a href="#ref/addressing">memory addressing</a> is relative, and modulus 4,096 the size of memory.  This means that there is no way for a program to know where in memory it is located.  Memory location 0 is not the first instruction memory, but the instruction that contains the address. Memory location 1 is the next instruction, and -1 obviously the previous.  Since all address are modulus the Memory Size, all values are valid addresses.</p>

  <h4>Execution</h4>
  <p>Each script is placed into a random memory location, and a thread is spawned and starts executing the first byte in the compiled script. All programs are executed in round robin order determined randomly at the start of the match. If a thread in a script executes an illegal instruction it dies.  If a player has no remaining threads, they lose.</p>

  <h4>Threads</h4>
  <p>Each script starts out with 1 thread but by <a href="#help/fork">forking</a> new threads can be spawned.  Each player only gets one instruction per turn though, so each of a players spawned thread will execute in turn, one thread per turn.  Thus if ScriptA has 2 threads and ScriptB has 1 thread the order of execution will look like:
    <ol>
    <li>ScriptA.thread1</li>
    <li>ScriptB.thread1</li>
    <li>ScriptA.thread2</li>
    <li>ScriptB.thread1</li>
    <li>ScriptA.thread1</li>
    <li>...</li>
    </ol>
    with each of ScriptA's threads executing half as often as ScriptB's 1 thread.</p>
</section>

<section id="redscript">
  <h2>Red Script</h2>

  <p>Red Script is an assembler language.  It's syntax is designed to be similar to modern scripting languages, but it is still an assembler language.  This means a few things:
    <ol>
      <li>One instruction per line.<br>No complex expressions, you have to do it one instruction at a time.</li>
      <li>Line numbers matter.<br>Use labels to mark lines of interest so you can reference them easily</li>
      <li>Addressing modes.<br>Instructions take either 1 or 2 values as arguments, but the <a href="#ref/addressing">Addressing Mode</a> determines how that number is interpreted.</li>
    </ol>
  </p>

  <h3>Basic Syntax</h3>
  <p>
  There basic syntax is:
  <pre>
  [label:]   &lt;operand1> &lt;operator> [operand2]</pre>
  <p><strong>label:</strong> is optional, and defines a label to reference the line number.  Labels can be reference before they are defined.</p>

  <p><strong>operand1</strong> is given on the left hand side of the operator, and designates the destination argument, usually this is an address.</p>

  <p><strong>operator</strong> indicates the instruction, see <a href="#help">Help</a> for a list of instructions.</p>

  <h4>Conditionals</h4> 
  <pre>
  if &lt;value> &lt;operation> &lt;value>
    <em>next instruction</em></pre>

  </p>

  <h3>Basic Script</h3>
  <p>Let's look at a basic Red Script.  This script is 2 instructions long and will run an infinite loop, incrementing the memory location directly following all of its instructions forever:
<pre>
1:  loop:     
2:     counter += 1
3:     jmp loop
4:
5:counter:  .data 0
</pre>
  It might be easier to start at the bottom here, <strong>Line 5</strong>, where we define a label called <code>counter</code> and initialize the memory location with 0.  <a href="#help/data">.data</a> is a directive that tells the Red Script compiler to initialze that line in the compiled program with the raw data given as the argument.  We will use this location in memory as our variable <code>counter</code>.</p>

  <p><strong>Line 1</strong> defines a label <code>loop</code>, for the following line.  Blank lines are are skipped when counting labels for address purposes.</p>

  <p><strong>Line 2</strong> is our first instruction.  Add <code>1</code> to the memory location referenced by <code>counter</code>. In this case, the label <code>counter</code> is 2 instructions away from the line it is referenced on, so this line is equivalent to: <code>(2) += 1</code>.</p>

  <p><strong>Line 3</strong> will return execution to the label <code>loop</code>. In this case, <code>JMP (-1)</code>.</p>
</section>

<section id="addressing">
  <h2>Addressing Modes</h2>

  <p>The addressing mode determines how the argument value is interpreted. Given the argument value, <code>42</code>, it can be interpreted in 3 different ways:
    <ul>
      <li><strong>Immediate</strong><br> The value is interpreted as a constant.<br>The value 42.</li>
      <li><strong>Relative</strong><br>The value is an offset in memory.<br>The memory location 42 spaces ahead.</li>
      <li><strong>Indirect</strong><br>The value is an offset in memory, but use the value at the offset to do another indirection.<br>The memory location pointed to by the memory location 42 spaces ahead.</li>
    </ul>
  </p>

  <h3>Pre/Post Increment/Decrement</h3>
  <p>Both Relative and Indirect addressing can also utilize pre and post operators.
  </p> 
  <table class="table">
    <tbody>
      <tr>
        <td class="monospace">--(42)<br>++label</td>
        <td><strong>Relative Pre-Increment/Decrement</strong><br>return the value at location <code>42</code>/<code>label</code> but increment/decrement it first</td>
      </tr>
      <tr>
        <td class="monospace">(42)--<br>label++</td>
        <td><strong>Relative Post-Increment/Decrement</strong><br>return the value at location <code>42</code>/<code>label</code> and increment/decrement it afterwards</td>
      </tr>
      <tr>
        <td class="monospace">*--(42)<br>*++label</td>
        <td><strong>Indirect Pre-Increment/Decrement</strong><br>increment/decrement the value at location pointed to by <code>42</code>/<code>label</code> and then use that value as a relative memory location.</td>
      </tr>      
      <tr>
        <td class="monospace">*(42)--<br>*label++</td>
        <td><strong>Indirect Post-Increment/Decrement</strong><br>get the value at the memory location pointed to by <code>42</code>/<code>label</code> and then use that value as a relative memory location. Afterwards increment/decrement the value pointed to by <code>42</code>/<code>label</code></td>
      </tr>

    </tbody>
  </table>
</section>

<section id="metagame">
  <h2>Metagame</h2>

  <p>Warrior scripts fall into 3 basic categories, traditionally typified as <a href="#ref/rock">Rock</a>, <a href="#ref/paper">Paper</a> and <a href="#ref/scissors">Scissors</a>.</p>

  <p><a href="#ref/rock">Rock</a> or Bombers "bomb" regular locations in memory with illegal instructions, hoping to catch opponents programs and cause them to crash.  They are rather simplistic but quite effective.  They easily defeat larger complicated scripts like Scissors, but are vulnerable to fast spreading programs like Paper.</p>

  <p><a href="#ref/paper">Paper</a> or Replicators make copies of themself and then fork to the new copy.  Replicating until they fill memory and overwriting other programs.  They quickly spread and defeat simpler programs like Rock but are easy to find by scanners like Scissor.</p>

  <p><a href="#ref/scissors">Scissors</a> or Scanners search through memory trying to find opponents and attacking directly.  Dropping targetted <code>fork (0)</code> bombs is an effective way to stun an opponent and then typically followed by a <a href="#help/jmp">Core Clear</a> to eliminate opponents.  But its complexity makes it vulnerable to simple Rock bombers.</p>
</section>

<section id="rock">
  <h2>Rock</h2>

  <p><a href="#ref/rock">Rock</a> or Bombers "bomb" regular locations in memory with illegal instructions, hoping to catch opponents programs and cause them to crash.  They are rather simplistic but quite effective.  They easily defeat larger complicated scripts like Scissors, but are vulnerable to fast spreading programs like Paper.</p>

<pre>
   // Rock
1. loop:   *loc = bomb  // copy our bomb to loc
2.         loc += 4     // skip ahead 4
3.         jmp loop     // loop forever

4. bomb:   .dat 42      // the bomb to drop
5. loc:    .DAT 7       // start bombing at loop+7
</pre>

<h3>Strategy</h3>
<p>Drop a .DAT bomb every 4 locations.  Any invalid instruction would do but in this case we drop the arbitrary value "42" to confuse Scissors.  4 locations is important because its 4,096 is divisible by it. This way, when we wrap around memory we will not bomb ourself.  We start bombing at our starting location+7, when we wrap back around in memory, we will bomb location -1, we will bomb our original bomb at location 4, and then proceed to bomba ll the same locations again at +7 and so on until we win, hopfully.</p>
</section>

<section id="paper">
  <h2>Paper</h2>
  <p><a href="#ref/paper">Paper</a> or Replicators make copies of themself and then fork to the new copy.  Replicating until they fill memory and overwriting other programs.  They quickly spread and defeat simpler programs like Rock but are easy to find by scanners like Scissor.</p>

<pre>
// Paper
paper:  *--dest = *--src  // copy ourself to dest
        jnz paper, src    // when src=0 we're done
        fork *++dest      // so fork to new copy
        src = 8           // reset src to our size
        dest -= 100       // pick a new destination
        jmp paper         // and start over again

src:    .dat 8            // initialized to our size
dest:   .dat 1234         // arbitrary location
</pre>

  <h3>Strategy</h3>
  <p>We define two variables: <code>src</code> that starts out at 8, pointing to the end of our code; and <code>dest</code> initialized to an arbitary value.  We copy the bytes from <code>src</code> to <code>dest</code> with the jnz loop at <code>paper:</code>.  Once we've made an entire copy of ourself, fork to the new copy.  We pre-increment dest when we fork on <strong>line 3</strong> to ensure that our new thread starts on <strong>line 4</strong> to re-initialize <code>src</code> so it can start over.  The new thread will start the same process over at the same time the old one does, growing until ultimately we fill memory completely.
  </p>
</section>

<section id="scissors">
  <h2>Scissors</h2>

  <p><a href="#ref/scissors">Scissors</a> or Scanners search through memory trying to find opponents and attacking directly.  Dropping targetted <code>fork (0)</code> bombs is an effective way to stun an opponent and then typically followed by a <a href="#help/jmp">Core Clear</a> to eliminate opponents.  But its complexity makes it vulnerable to simple Rock bombers.</p>
 
<pre>
// Scissors
scan:  start += 21       // scan every 21 locations 
       end += 21
       if *start != *end // if locations differ 
           jmp snip      // we found something
       jmp scan          // else keep scanning

snip:  if start == 0xfff // we wrapped around once 
           jmp clear     // start the core clear

erase: *--end = bomb     // erase with fork bombs
       if end != start   // until scan range filled
           jmp erase
       end += 12         // reset end pointer
       jmp scan          // resume scanning

clr:   *start++ = 0      // do a core clear
       start %= 4096
       jnz clr, start    // but skip ourself
clear: start = 6 
       jmp clr

start: .dat 0            // start of scan pointer
end:   .dat 12           // end of scan pointer
bomb:  fork bomb         // fork bomb constant
</pre>

  <h3>Strategy</h3>
  <p>Since memory locations all start initialized as 0, we can assume that if we find two different values in a memory location that one of them has been changed. So we scan through memory, looking at two memory locations 12 locations apart, every other 21 locations.  If we find some changed memory, we fill our scan range with fork bombs <code>fork (0)</code> which will cause any thread to execute it to just endlessly create new threads essentially deadlocking all of their threads.</p>
  <p>Once we have scanned through memory once and wrapped around to ourself (<strong>line 6</strong>), we convert to a core clear (<strong>line 13</strong>) and fill the memory with <code>.DATA 0</code>.  Adding an extra instruction to our coreclear at <strong>line 14</strong> allows us to skip ourself, the relevant 6 bytes at least. constantly running a core clear until all other threads have finally died.</p>
</section>

<section id="redcode">
  <h2>Red Code</h2>

  <p>TODO: see <a href="#ref/corewar">core war</a></p>
</section>

<section id="corewar">
  <h2>Core War</h2>

  <p>Core War was originally conceived by A. K. Dewdney and published in a Scientific American article in 1984. 
  </p>

  <h3>Other Reading</h3>
    <ul class="list-unstyled">
      <li><a target="_blank" href="http://corewar.co.uk/cwg.txt">Original Core War Guidelines</a></li>
      <li><a target="_blank" href="http://vyznev.net/corewar/guide.html">Beginner's guide to Redcode</a></li>
      <li><a target="_blank" href="http://corewar.co.uk/mintard/index.htm">Paper - Stone - Scissors Trilogy</a></li>
      <li><a target="_blank" href="http://corewar.co.uk/">http://corewar.co.uk/</a></li>
      <li><a target="_blank" href="http://corewars.org/information.html">http://corewars.org/information.html</a></li>
    </ul>
</section>

<section id="storage">
  <h2>Script Storage</h2>

  <p>Saving scripts saves them to the browser LocalStorage.<br> The briefcase <span class="glyphicon glyphicon-briefcase"></span> tab can be used to manage the saved scripts.</p>
</section>
</div>
